.starter {
  .starter-line {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    a {
      color: white;
      text-decoration: none;
      font-size: 2em;
      font-weight: bold;;
    }

    .pizza-1 a {
      padding: 30px 80px;
      background-image: url(../../images/assets/pizza-1.jpg);
      background-size: cover;
      background-attachment: local;
      background-position: center center;
    }

    .pizza-2 a {
      padding: 30px 80px;
      background-image: url(../../images/assets/pizza-2.jpg);
      background-size: cover;
      background-attachment: local;
      background-position: top top;
    }
  }
}


.opening-div {
  width: 700px;
  height: 76px;
  background-color: violet;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  margin: 0;

  * {
    margin: 0;
  }
}

.carousel {
  margin: 46px 0;
  width: 700px;

  .carousel-cell {
    width: 100%;
    padding: 0 10%;
    height: 200px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    img {
      flex: 0 0 auto;
      width: 200px;
      height: auto;
      border-radius: 10px;
      margin-right: 15px;
    }

    .quote-text {
      flex: 2;
      text-align: justify;

    }
  }
}


.gallery {
  margin: 96px 0;
  width: 700px;

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

    img {
      width: 220px;
      padding: 5px;
      height: auto;
      overflow: hidden;
      transition: 1s all;
    }
    img:hover {
      opacity: 0.7;
    }
  }
}